.main {
    padding: 10px;
}
.item {
    display: flex;
    font-size: 18px;
    font-weight: 600;
    gap: 15px;
    padding: 15px;
    
}
.avatar {
    width: 35px;
    height: 35px;
    border-radius: 100%;
}
.post {
    padding: 5px;
}