.header {
    grid-area: header;
    background: #fc0362;
    border-radius: 5px;
    padding: 7px;
    border-radius: 5px;
    position: relative;
    margin: 5px;
  }
  
  .logo {
    width: 45px;
    height: 45px;
    border-radius: 100%;
    position: absolute;
    top: 2px;
  }

  .icon {
    position: absolute;
    right: 19px;
    top: 7px;
    font-size: 35px;
    cursor: pointer;
  }
  .icon i:hover {
    color: #FFF;
  }