.header {
    grid-area: header;
    background-color: rgb(146, 158, 228);
    border-radius: 5px;
    padding: 7px;
    border-radius: 5px;
    border: 2px solid black;
  }
  
  .header img {
    width: 45px;
    height: 45px;
    border-radius: 100%;
  }