.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    grid-area: nav;
    background-color: rgba(153, 197, 123, 0.7);
    padding: 5px;
    margin-top: 5px;
    font-size: 30px;
    font-weight: 600;
    border-radius: 5px;
  }
  .item {
    padding: 5px;
    cursor: pointer;
  }
  
  .item:hover {
    color: #FFF;
    font-size: 35px;
  }
  
  .nav :nth-child(5) {
    margin-top: 15px;
  }