.nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 80px;
    grid-area: nav;
    background: rgb(146, 158, 228);
    padding: 5px;
    margin-top: 5px;
    font-size: 30px;
    font-weight: 600;
    border-radius: 5px;
    border: 2px solid black;
  }
  .item {
    padding: 6px;
    cursor: pointer;
  }
  .item:active {
    color: gold;
  }
  .item:focus {
    color: gold;
  }
       
  .item .active {
    color: gold;
  }
  
  .item:hover {
    color: #FFF;
    font-size: 31px;
  }
  
  .nav :nth-child(5) {
    margin-top: 15px;
  }
.item i {
  padding: 5px;
}

a {
  text-decoration: none;
  color: #000;
}